.h1n1{
	color:white;
	padding: 50px;
	font-family: all;
	font-size: 50px;
}
.h1n2{
	font-family: all;
	padding: 50px;
	color:white;

	font-size: 50px;
}
.h1n3{
	font-family: all;
	color:white;
	margin-left: 50px;
	font-size: 50px;
}
.pic1{
	margin-top: 50px;
	border-radius: 50px;

	float:right;
	margin-right: 50px;
	width: 500px;
	height: 300px;
}
.pic2{
	float:right;
width: 500px;
	height: 300px;

}
body{

    min-height: 120vh;
}
.navbar{
	background: rgb(74,255,244);
}
.nav-link{
	font-weight: bold;
	font-size: 1.5rem;
}
.ito{
	color:white;
	font-size: 50px;
	margin-left: 50px;
}