<template>
  <div>
    <div class="sidebar">
       <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
    <div class="background-img img bg-wrap text-center py-4">
                <div class="user-logo">
                  <div class="img" style="background-image: url(../assets/images/logo.png);">
                  </div>
                </div>
              </div>
      <ul class="list-unstyled components mb-5">
     <router-link to="/" exact class="element-container ">

          <!-- DIDI BUTANG -->
           <li class="active1">
                  <a href="#"><span><img src="../assets/images/dash.png" width="60px" height="60px"></span> Dashboard</a>
                </li>
        
      </router-link>
      <router-link to="/Patron" class="">
      
          <li class="active">
            <a href="PatronManagement.html"><span><img src="../assets/images/patron.png" width="60px" height="50px"></span> Patron Management
            </a>
            </li>
        
      </router-link>
      <router-link to="/Book" class="">
        
        <li class="active3">
             <a href="BookManagement.html"><span><img src="../assets/images/bookmanagement.png" width="60px" height="60px"></span> Book Management</a>
            </li>
         <!-- DIDI BUTANG -->
        </router-link>
      <router-link to="/Settings" class="">
      
             <li class="active4">
            <a href="Settings.html"><span><img src="../assets/images/settings.png" width="60px" height="60px"></span> Settings</a>
            </li>
          <!-- DIDI BUTANG -->
          
        
      </router-link>
    </ul>
      </nav>
    </div>
    </div>
  </div>
</template>
<script>
export default {
     
};
</script>
<style scoped>
.background-img{
 background-image: url(../assets/images/logo.png);
 background-color: #22294B;}
</style>
