<template>
  <div>
    <canvas id="barChart" width="280" height="200"></canvas>
  </div>
</template>
<script src="assets/js/barscript.js"></script>
<script>
import barscript from '../../assets/js/barscript'
export default barscript;
</script>
<style scoped>
</style>
