<template>
  <div>
    <canvas id="pieChart" width="280" height="200"></canvas>
  </div>
</template>
<script src="./../assets/js/piegraphscript.js"></script>
<script>
import piegraphscript from '../../assets/js/piegraphscript'
export default piegraphscript;
</script>
<style scoped>
</style>
