 #overlay{
            position: fixed;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(0,0,0,0.6);
}
.come{
	 position: absolute;
	 left: 35%;


}


.iconic{
	width:1.5em;
	height:1.5em;

}
.addicon{
	 height:36px; width:42px;
	 
}
.iconss{
	width:30px; 
	height:30px;
	border-radius: 	50%;
}
.icons{
	width:30px; 
	height:30px;
}

.btn24{
	margin-left: 20%;
	border-width: 1px #0000;
	border-color: green;
	background-color: #F6D345;
}
.modal-header{
	background-color: rgba(249, 223, 144, 0.7188);
}
body{

}
.search-box{
	padding-top: 1%;
	float:right;
	width: 300px;
	height: 50px;
}
.modal-body{
	background-color:rgba(246, 211, 101, 1);
}
.tablecount{
	background-color: 	#F6D365	;
}
.table{
	border-color: 	black;
	border-width: 	0.2rem;
}

.column {
	float: right;
	color:black;
	width: 50%;
	padding-top: 15%;
	height: 300px; 
	
}
.dropbtn {
  background-color: #3498DB;
  color: white;
 
  height: 35px;
  width:  35px;
  border: none;
  cursor: pointer;
  border-radius:  45%;    

}


.dropbtn:hover, .dropbtn:focus {
  background-color: #F63D65;
}
.dropdown1 {
 
  margin-left:  91%;
  
}

.dropdown-content {
  display: none;

  position: absolute;
  background-color: #F63D65 ;
  min-width: 90px;
  border-radius:  10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
.titles1{
  padding-left:   28%;

}
.titles{
  padding-left:   35%;
  font-weight:  bolder; 
  color:black;
  font-size:  25px;
}
.titles2{
  padding-left:   31%;
}
.design{
  background-color:#6773AD;
}
.clss{
  top:80px;
  left:40px;
}
.titles3{
  padding-left:   38.2%;
}
.modal-body{
  background-color: #22294B;

}
.modal-header{
  text-align: center;
  background-color: #6773AD;
  border:none;
}
.form-group{
  font-weight: bolder;
}
.modaltitle{
  text-align: center;
}


