
body{
    background-color: #F6D365;
}
 #overlay{
            position: fixed;
            top: 0;
            bottom: 0;
            left:0;
            right: 0;
            background: rgba(0,0,0,0.6);
}

.come{
	 position: absolute;
	 left: 35%;


}
.iconic{
	width:1.5em;
	height:1.5em;

}
.addicon{
	 height:36px; width:42px;
	 
}
.iconss{
	width:30px; 
	height:30px;
	border-radius: 	50%;
}
.icons{
	width:30px; 
	height:30px;
}

.h33{
    position: absolute;
    left:67px;
    top:131px;
}

.img{
  width:500px;
}

.btn24{
	margin-left: 20%;
	border-width: 1px #0000;
	border-color: green;
	background-color: #F6D345;
}
.modal-header{
  text-align: center;
  background-color: #6773AD;
  border:none;
}
.tableheads{
  table-layout: fixed;
  border: 4px solid black;
}
.search-box{
	padding-top: 1%;
	margin-left:10%;
	width: 300px;
  height: 50px;
  padding-right:10%;
}
.modal-body{
  background-color: #22294B;

}
.tablecount{
	background-color: 	#F6D365	;
}
.table{
	border-color: 	black;
	border-width: 	0.2rem;
}
.column {
	float: right;
	color:black;
	width: 50%;
	padding-top: 15%;
	height: 300px; 
	
}
.dropbtn {
  background-color: #3498DB;
  color: white;
 
  height: 35px;
  width:  35px;
  border: none;
  cursor: pointer;
  border-radius:  45%;    

}


.dropbtn:hover, .dropbtn:focus {
  background-color: #F63D65;
}
.dropdown1 {
 
  margin-left:  91%;
  
}

.dropdown-content {
  display: none;

  position: absolute;
  background-color: #F63D65 ;
  min-width: 90px;
  border-radius:  10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
.titles1{
  padding-left:   28%;

}
.titles{
  padding-left:   35%;
  font-weight:  bolder; 
  color:black;
  font-size:  25px;
}
.titles2{
  padding-left:   31%;
}
.titles3{
  padding-left:   38.2%;
}
.containerr{
    padding-top:48px;
    padding-right: 13px;
    background-color:white;
    position: absolute;
    top:0px;
    left:300px;
    width: 1066px;
    height: 657px;
}
.wrapper{
    height: 0px;
    background-color: white;

}
.contador{
  width: 900px;
  height:300px;
  
  
    top:42px;
    left:363px;
    position: absolute;
    
}
.background-col{
  background-color:white;
  width:1365px;
  height:657px;
}

.btndesigns{
  position: absolute;
  left:0px;
  top:445px;
}
.btndesignss{
  position: absolute;
  left:0px;
  top:410px;
}

.btndesignsss{
  position: absolute;
  left:0px;
  top:415px;
}

.TRY{
  position:absolute;
  top:-70px;
  left:415px;
  font-weight: bold;
  font-size:30px;
  border:none;
  background-color: transparent;
}
#modal-footer{
  background-color:black;
}
.promptt{
  width:150px;
  display: flex;
  
  margin-left:50px;
}
.PatronTable-move {
  transition: all 1s;
}

.PatronTable-enter-active,
.PatronTable-leave-active {
  transition: all 1s;
}
.PatronTable-enter, .PatronTable-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.btn-outline-add {
  color: #002c3e !important;
  border-color: #002c3e !important;
  background-color: white !important;
}

.btn-outline-add:hover {
  color: white !important;
  background-color: #002c3e !important;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}
.btn-no-border:focus {
  outline: 0 !important;
}
.secondary {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  box-shadow: none !important;
  color: white;
}
.magicb{
  position:absolute;
  width:500px;
  height:500px;
  left:200px;
}
.magicc{
  position:absolute;
  width:500px;
  height:500px;
  left:200px;
}
.btn-no-border {
  padding: 0;
  border: none;
  background: none;
}