@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
}


@media only screen and (max-width: 768px) {
  html {
    font-size: 0.9rem;
  }
  .sdsds {
    width: 80px;
  }
  .element-container {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 1rem;
  }
  .option {
    display: none;
  }
  .main-content {
    margin-left: 90px;
  }
}
