.modal-dialog{
  width: 350px;

}
.modal-body{
  background-color: #22294B;

}
.modal-header{
  text-align: center;
  background-color: #6773AD;
  border:none;
}
.form-group{
  font-weight: bolder;
}
.modaltitle{
  text-align: center;
}

.design{
  background-color:#6773AD;
}
.form-design{
  border:none;
  padding-left:20%;
  float:right;
  padding-right:20%;
}


.log{
  float:right ;
  margin-right:   10px;
  margin-top:25px;
  border:none;
  background-color:   red;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.7;
  
  text-align: left;
  /*  ------------- background color    */
  background-color: #273581; 
  /*  -------------                     */
}

.row{
  height: 600px;
  background-color: #fff;
}


.column{
  width: 50%;

}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  height:900px;

  /*  ------------- background color    */
  background: #22294B;
  /*  -------------                     */
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.background-img{
	/*  ------------- background color    */
 background-image: url(../images/logo.png);
 background-color: #22294B;


 	/*  -------------                    */
}

.search-box{
  float:right;
}

#overlay{
  position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}

.wrapper-style{
  position: absolute;
  background-color:#273581;
  height:700px;
  width:1050px;
  top:0px;
  left:300px;

}

.container{
  height:300px;
  width:700px;
  left:20px;
  position:absolute;
  background-color: #273581;
}

.container1{
  height:300px;
  width:1000px;
  left:20px;
  position:absolute;
  background-color:transparent;
}

.wrapper-style1{
  position: absolute;
  background-color:transparent;
  height:700px;
  width:1050px;
  top:0px;
  left:300px;

  }



.heads{
  position: absolute;
  top:0px;
  left:700px;
  width:900px;
  height:100px;
  background-color:white;
}
