<template>
  <!--<div>
    <div class="main-content">
      <div class="container pt-4">
        <div class="row mt-5">
          <div class="magicb col-lg-6 col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <h6 class="text-big">Popular Book Genre</h6>
                <hr />
              </div>
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="magicc col-lg-6 col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <h6 class="text-big">Popular Book Genre</h6>
                <hr />
              </div>
              <div class="card-body">
                <PieChart />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div> -->
  <div id="content" class="p-4 p-md-5 pt-5">
      <div class="wrapper">
        <div class="containerr">
           <div class="magiciteeem container-fluid">
           

             <div class="row">
              <div class="column">
               <BarChart />
              </div>
              <div class="column">
                <PieChart />
              </div>  
           </div>
        </div>
      </div>
    </div>
    </div>

</template>
<script>
import BarChart from "./../components/charts/BarChart";
import PieChart from "./../components/charts/PieChart";
export default {
  components: {
    BarChart,
    PieChart,
  },
};
</script>
